{
    "agglayerBridgeAddress": "0x..",
    "options": {
        "blockRange": 1000,
        "printEvents": true,
        "getEventsFromFile": false,
        "concurrencyLimit": 100,
        "printTokens": true,
        "outputPathTokensArray": "upgrade/upgradeEtrogSovereign/tokens.json",
        "outputPathLBT": "upgrade/upgradeEtrogSovereign/LBT.json",
        "blockNumber": "latest",
    }
}