{
    "type": "EOA",
    "agglayerManagerAddress": "0x0B306BF915C4d645ff596e518fAf3F9669b97016",
    "timelockDelay": 0,
    "timelockSalt": "",
    "maxFeePerGas": "",
    "maxPriorityFeePerGas": "",
    "multiplierGas": "",
    "obsoleteRollupTypes": [1, 2, 3],
    "excludedRollupTypesID": [4, 5, 6]
}

